$primary: #171C27;
$secondary: #222835;
$dark-blue: #11141D;
$light-blue: #647291;
$light-silver: #D8D8D8;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.main-block {
	width: 1400px;
	display: inline-flex;
	font-family: 'Montserrat', Arial, sans-serif;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

//header nav
.header {
	min-height: 70px;
	width: 100%;
	background-color: $primary;
}

.logo-container {
    padding-right: 65px;
    float: left;
    margin-top: 10px;
}

.icon-container {
    width: 54px;
    height: 50px;
    background-color: $secondary;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    text-align: center;
}

.icon {
	margin-top: 8px;
}

.icon-container2 {
    width: 54px;
    height: 50px;
    background-color: $dark-blue;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    text-align: center;
    margin-left: 12px;
    border: 1px solid rgba(255, 59, 112, 100);
}

.text-block {
	height: 40px;
	width: 470px;
	background-color: $dark-blue;
	border-radius: 10px;
	margin-top: 15px;
	margin-left: 65px;
	margin-right: 65px;
}

.build-text {
	padding-top: 7px;
	color: $light-blue;
	text-align: center;
}

.icon-container3 {
    width: 54px;
    height: 50px;
    background-color: $dark-blue;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    text-align: center;
    margin-left: 12px;
    border: 1px solid rgba(255, 59, 112, 100);
}

.icon-container4 {
    width: 54px;
    height: 50px;
    background-color: $secondary;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}

.icon-container5 {
    width: 54px;
    height: 50px;
    background-color: $dark-blue;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}

.icon2 {
	margin-top: 6px;
    margin-left: 13px;
}

.icon3 {
	margin-top: 10px;
    margin-left: 13px;
}

.icon4 {
	margin-top: 5px;
    margin-left: 3px;
}

.profile {
	float: right;
}

.name {
	color: $light-blue;
	font-size: 14px;
	line-height: 16px;
	margin-top: 20px;
	float: right;
	padding-left: 10px;

	span {
		font-size: 12px;
	}

	a {
		color: $light-blue;
	}
}

.icon-container6 {
    width: 54px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    margin-left: 12px;
    text-align: center;
}

// body
.fixed-lte {
	width: 347px;
	background-color: $primary;
	margin-left: 30px;
    margin-top: 145px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;

    &__logo {
    	position: relative;
    	top: -82px;
    }

    h2 {
    	 color: $light-silver;
    	 margin-top: -60px;
    	 font-weight: normal;
    	 font-size: 29px;
    }

    p {
    	color: $light-blue;
    	font-weight: bold;
    	text-transform: uppercase;
    }

    &__box {
    	width: 320px;
    	height: 52px;
    	background-color: $secondary;
    	border-radius: 10px;
    	margin: 0 auto;
    	margin-bottom: 10px;
    }

    &__text {
    	color: $light-blue;
    	text-align: left;
    	font-size: 14px;
    	font-weight: bold;
    	margin-left: 25px;
    	padding-top: 16px;
    	float: left;
    }

    .btn.btn-info {
    	background: none;
    	border-radius: 10px;
    	border: 1px solid #CCCCCC;
    	font-size: 10px;
    	font-size: 11px;
	    float: right;
	    margin-top: 10px;
	    margin-right: 13px;

	    &:hover {
	    	background-color: $dark-blue;
	    }
    }

    .custom-switch {
    	float: right;
    	margin-right: 5px;
    	margin-top: 13px;
    }

    .custom-control-label::before {
    	background-color: $dark-blue;
    	border: none;
    }

    .custom-switch .custom-control-input:checked~.custom-control-label::after {
    	background: rgba(255, 59, 112, 100);
    }

    .custom-control-input:checked~.custom-control-label::before {
    	border: none;
    	background-color: $dark-blue;
    }
}

.dploy-script {
	font-size: 32px;
	color: rgba(255, 59, 112, 100);
	font-weight: lighter;
	margin-top: 77px;
    margin-bottom: 30px;
}

.git-commands {
	width: 860px;
	background-color: $primary;
    border-radius: 10px;
    padding: 25px;

    code {
    	color: $light-blue;
    }
}

.full-width {
	width: 100%;
}
