<template>
  <!-- BODY -->
  <div class="full-width">
    <div class="main-block">
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'Deployments'
}
</script>

<style lang="scss" scoped>
  @import "../styles/global.scss";
</style>
