<template>
  <!-- HEADER NAV -->
  <div class="header">
    <div class="main-block">
        <div>
          <a href="/">
             <div class="logo-container">
              <img src="../assets/logo.png" class="logo">
            </div>
          </a>

          <a href="/">
            <div class="icon-container">
              <img src="../assets/icon1.png" class="icon">
            </div>
          </a>

          <a href="/">
            <div class="icon-container2">
              <img src="../assets/icon2.png" class="icon">
            </div>
          </a>
        </div>
        <div>
          <div class="text-block">
            <div class="build-text">
              <img src="../assets/icon3.png">
              Build on project name completed by person name
            </div>
          </div>
        </div>

        <div>
          <a href="/">
            <div class="icon-container4">
              <img src="../assets/icon4.png" class="icon2">
            </div>
          </a>

          <a href="/">
            <div class="icon-container5">
              <img src="../assets/icon5.png" class="icon3">
            </div>
          </a>
        </div>

        <div class="name">
          <span>Froddo Baggins</span>
          <br>
          <a href="/"><span>frodo@mordor.co</span></a>
        </div>

        <div class="profile">
            <a href="/">
              <div class="icon-container6">
                <img src="../assets/icon6.png" class="icon4">
              </div>
            </a>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld'
}
</script>

<style lang="scss" scoped>
  @import "../styles/global.scss";
</style>
