<template>
  <!-- BODY -->
  <div class="full-width">
      <div class="main-block">
        <div class="fixed-lte">
          <img src="../assets/fixed-lte.png" class="fixed-lte__logo">

          <h2>Fixed LTE</h2>
          <p>Node CMS | ~/repo/fi</p>

          <div class="fixed-lte__box">
            <div class="fixed-lte__text">Project ID: 234</div>
            <button type="button" class="btn btn-info">view on gitlab</button>
          </div>

          <div class="fixed-lte__box">
            <div class="fixed-lte__text">Auto Deploy</div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </div>

          <div class="fixed-lte__box">
            <div class="fixed-lte__text">Slack Notifications</div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch2">
              <label class="custom-control-label" for="customSwitch2"></label>
            </div>
          </div>
        </div>
    <div>
      <h2 class="dploy-script">Dploy Script</h2>
      <div class="git-commands">
        <pre>
          <code>
            git pull origin master
            composer install --no-interaction --prefer-dist --optimize-autoloader
            echo "" | sudo -S service php7.3-fpm reload

            if [ -f artisan ]
            then
                php artisan migrate --force
                php artisan horizon:terminate
            fi

            yarn
            yarn prod

            if [ -f artisan ]
            then
                php artisan migrate --force
                php artisan horizon:terminate
            fi
          </code>
        </pre>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'Iploy'
}
</script>

<style lang="scss" scoped>
  @import "../styles/global.scss";
</style>
