<template>
  <div id="app">
    <HelloWorld></HelloWorld>
    <Iploy></Iploy>
    <Deployments></Deployments>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Iploy from './components/Iploy.vue'
import Deployments from './components/Deployments.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Iploy,
    Deployments
  }
}
</script>

<style>
@import "./styles/global.scss";
#app {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #11141D;
}

html,body {
  background-color: #11141D;
}
</style>
